$font-san-serif: Lato, Verdana, Geneva, Tahoma, sans-serif;
$font-serif: Georgia, 'Times New Roman', Times, serif;

$color-light-green: #909991;
$color-primary-green: #45734D;
$color-primary-text: #061408; 
$color-background: #FCFCF7; 
$color-light-beige: #999890; 
$color-light-on-dark: #FEFFFE;
$color-background-beige: #F5F5F2;
$color-background-green: #F2F5F2;