@import './_variables.scss';
body {
  display: flex;
  justify-content: center;
  margin-top: 128px;
}

.row {
  margin-top: 64px;
  display: flex;
  gap: 24px;
}

.vertical-margin-24 {
  margin: 24px 0;
}

.card-product-promo-large {
  background-color: $surface-primary;
  width: 600px;
  padding: 80px 48px 24px 48px;
}

.title-section-center {
  text-align: center;
  margin-bottom: 24px;
}

.surface-default {
  background-color: $surface-default;
  border-color: $border-primary-default;
  border-style: solid;
  border-width: $m; /**/
  border-radius: $border-radius-xl * 1px; /**/
}

.body-l {
  font-family: $font-families-default;
  font-weight: $font-weights-regular;
  line-height: $lineheight-l;
  font-size: $font-size-xs * 1px;
  letter-spacing: $letter-spacing-m;
  text-transform: $text-case-none;
  text-decoration: $text-decoration-none;
}

.body-m {
  font-family: $font-families-default;
  font-weight: $font-weights-regular;
  line-height: $lineheight-l;
  font-size: $font-size-xxs * 1px;
  letter-spacing: $letter-spacing-m;
  text-transform: $text-case-none;
  text-decoration: $text-decoration-none;
}

.text-primary-on-light {
  color: $text-primary-on-light;
}

.text-secondary-on-light {
  color: $text-secondary-on-light;
}

.headline-xxl {
  font-family: $font-families-default;
  font-weight: $font-weights-medium;
  line-height: $lineheight-s;
  font-size: $font-size-xxl * 1px; /**/
  letter-spacing: $letter-spacing-l;
  text-transform: $text-case-none;
  text-decoration: $text-decoration-none;
  margin: 0;
}

.headline-xl {
  font-family: $font-families-default;
  font-weight: $font-weights-medium;
  line-height: $lineheight-s;
  font-size: $font-size-xl * 1px; /**/
  letter-spacing: $letter-spacing-s;
  text-transform: $text-case-none;
  text-decoration: $text-decoration-none;
  margin: 0;
}

.headline-l {
  font-family: $font-families-default;
  font-weight: $font-weights-medium;
  line-height: $lineheight-s;
  font-size: $font-size-l * 1px; /**/
  letter-spacing: $letter-spacing-s;
  text-transform: $text-case-none;
  text-decoration: $text-decoration-none;
  margin: 0;
}
.overline-l {
  font-family: $font-families-default;
  font-weight: $font-weights-medium;
  line-height: $lineheight-l;
  font-size: $font-size-xxs * 1px; /**/
  letter-spacing: $letter-spacing-s;
  text-transform: $text-case-uppercase;
  text-decoration: $text-decoration-none;
  margin: 0;
}

.button {
  font-family: $font-families-default;
  font-weight: $font-weights-medium;
  line-height: $lineheight-m;
  text-transform: $text-case-none;
  text-decoration: $text-decoration-none;
}

.button-primary-on-light {
  background-color: $background-action-primary-default;
  color: $text-action-primary-on-light;
  border: none;
}

.button-secondary-on-light {
  background-color: $background-primary-light;
  color: $text-action-primary-on-light;
  border: $border-action-primary-default solid $m;
}

.button-large {
  font-size: $font-size-xs * 1px;

  border-radius: $border-radius-xl * 1px;
  padding: $small * 1px $medium * 1px;
}

.button-small {
  font-size: $font-size-xxs * 1px;

  border-radius: $border-radius-xl * 1px;
  padding: $small * 1px $medium * 1px;
}

img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}
