@import './_variables.css';

.box {
  width: 600px;
  margin: auto;
  padding: 16px; /* var medium fungerer ej här */
}


.surface-default {
  background-color: var(--surface-default);
  border-color: var(--border-primary-default);
  border-style: solid;
  border-width: var(--xl); /**/
  border-radius: var(--border-radius-l); /**/
}

p {
  font-family: var(--font-families-default);
  font-weight: var(--font-weights-regular); 
  line-height: var(--lineheight-s);
  font-size: 44;
}

.body-m{
  font-family: var(--font-families-default);
  font-weight: var(--font-weights-regular); 
  line-height: var(--lineheight-l);
  font-size: var(--font-size-xs);
  letter-spacing: var(--letter-spacing-m);
  text-transform: var(--text-case-none);
  text-decoration: var(--text-decoration-none);
}

.text-primary-on-light {
  color: var(--text-primary-on-light);

}

.h1-m {
  font-family: var(--font-families-default);
  font-weight: var(--font-weights-medium); 
  line-height: var(--lineheight-s);
  font-size: 44; /*font-size variables doesn't work */
  letter-spacing: var(--letter-spacing-s);
  text-transform: var(--text-case-none);
  text-decoration: var(--text-decoration-none);
}

.button-primary { 
  background-color: var(--background-action-primary-default);
  color: var(--text-action-primary-on-dark);
  border: var(--border-action-primary-default);
  line-height: var(--lineheight-m);
}

.button-large {
  font-family:  var(--font-families-default);
  font-weight: var(--font-weights-medium); 
  line-height: var(--lineheight-m);
  font-size: var(--fontsize-xs);
  letter-spacing: var(--letter-spacing-l);
  text-transform: var(--text-case-none);
  text-decoration: var(--text-decoration-none);

  border-radius: var(--border-radius-l);
}

