@import './_variables.scss';

@import './_variables.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-san-serif;
}

p {
  font-family: $font-serif;
}

.form {
  padding: 1rem;
  border: 1px solid $color-light-green;
  border-radius: 1em;
  width: 760px;
  margin: auto;
  padding: 3em;
  background-color: $color-background-green;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex > .control input {
  width: 210px;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.cardButton {
  float: right;
  position: relative;
  top: 20px;

  background-color: $color-primary-green;
  color: white;
  font-size: 1.4em;
  padding: 12px 20px;
  border-radius: 0.5em;
}


.card {
  width: 800px;
  margin: 40px auto;
  border: 1px solid $color-light-green;
  border-radius: 1em;
  width: 760px;
  background-color: $color-light-on-dark;
  overflow: hidden;

}
.mainContent {
  display: flex;
}

.mainContent > div,
.mainContent > img {
  width: 400px;
}
.mainContent > div {
  padding: 1em;
}
.mainContent > img {
  height: 300px;
}

.row {
  display: flex;
  justify-content: space-between;

}

.cardButton {
  float: right;
  position: relative;
  top: -30px;
  background-color: $color-primary-green;
  color: white;
  font-size: 1.4em;
  padding: 12px 20px;
  border-radius: 0.5em;
}

.images {
  display: flex;
  gap: 0.5em;
}
.images > img {
  height: 200px;
}
.facility {
  background-color: $color-background-green;
  padding: 0.4em;
  border-radius: 0.4em;
  margin-right: 0.2em;
}


.card-small {
  width: 200px;
  padding: 1em;
}

